body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px; 
  background-color: rgb(231,239,173);
}


.pageContainer {
  background-color: white;
  background-image: url('green_tile2.png');
  background-repeat: repeat-x;

  max-width: 855px;
  min-width: 550px;

  margin: 0px auto;    
}


.intro {
  border-bottom: 1px rgb(193,215,46) solid;
  padding: 40px 30px 10px 30px;
}

.bodyContainer {
  padding: 5px 30px 30px 30px;
}

table {
  font-size: small;
}

h1 {
  margin-left: 0px;
  margin-bottom: 0px;
  font-size: 27px;
}

hgroup {
  margin-top: 30px;
  margin-left: 0px;
  text-align: center;
}
hgroup h2 {
  font-family: Kranky;
  font-size:32px;
  font-weight:normal;
  margin-top:0px;
}

h2 {
  margin-bottom: 5px;	
  margin-top: 30px;
  margin-left: 2px;
  font-size: 16px;
}

table {
  border: 3px rgb(193,215,46) solid;
}

.tableBack {
  background: rgb(231,239,173);
}

.tableEmphasis {
  font-family: 'Inconsolata', sans-serif;
  background: white;
  width: 230px;
}

.tableEmphasis a {
  text-decoration: none;
}

.tableEmphasis a:hover {
  text-decoration: underline;
}

.floatImage {
  margin-top: 8px;
  margin-right: 12px;
  float:right;
}

td {
  padding: 5px;
  width: 365px;
}

b {
  font-variant:small-caps;
  font-size: larger;
}